// Common Settings
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
}

h2 {
  margin: 50px 0 20px 0;
  font-size: 22px;
  font-weight: 700;
  color: $textColor;
}

p{
  padding: 15px 0;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

main {
  padding: 50px 0;
}
